

html {
	height: 100%;
}
body {
	background-color: #a7bdd3;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
	height: 100%;
}


h1 {
	font-size: 32px;
	font-weight: normal;
	margin: 0px;

}

h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	color: #fff;
}


/*	Divs and stuff	*/

#container {
	position: static;
	width: 900px;
	height: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#header {
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	border-bottom-width: 2px;
	height: 80px;
	padding: 20px;
}

#titleBlock {
	position: relative;
	display: block;
	left: 75px;
	top: -73px;
}

#date {
	position: relative;
	display: block;
	left: 75px;
	top: -65px;
	color: #ff6600;
	font-size: 21px; 
	font-family: Calibri, sans-serif;
}

#description {
	position: relative;
	left: 295px;
	top: -140px;
	background-color: #ffe5d4;
	font-size: 12px;
	height: 30px;
	padding-top: 0px;
	padding-left: 3px;
	width: 262px;
}

#navBar {
	padding-top: 0px;
	color: #666666;
}

#navBar a {
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	font-size: 18px;
}

#navBar a:hover {
	color: #ff6600;
}


#welcomeBox {
	position: relative;
	color: #ffcc33;
	top: -79px;
	background-color: rgba(0, 0, 0, 0.8);
	padding-left: 10px;
	padding-top: 1px;
	font-size: 12px;
	padding-bottom: 1px;
}


#content {
	position: relative;
	padding: 15px;
	top: -60px;
}