.header {
    height:120px;
    padding: 120px 10px 0px;
    background-image: url(bg/header_potsdam.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
}

.title {
    font-weight: normal;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 6px 6px;
    width: 75%;
    margin: 0;
}

.title a {
    color: var(--title-text-color);
    text-decoration: none;
}

.title a:active {
    text-decoration: underline;
}

.title a:hover {
    text-decoration: underline;
}

.subtitle {
    font-size: 15px;
    color: var(--title-text-color);
    float: right;
    padding: 5px;
    margin-top: 5px;
}

.title,.subtitle {
    background: rgba(0, 0, 0, 0.5);
}
