h2, h3 {
    padding: 0;
}

h2 {
    color: var(--main-color);
    display: inline;
    margin: 0 0.5ch 0 0.5ch;
}

h3 {
    color: var(--main-color-dark);
    margin: 0;
}

.heading img {
    width: 1.1em;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    width: 12.5%;
    height: var(--menu-height);
    line-height: var(--menu-height);
    text-align: center;
    vertical-align: middle;
    font-size: 0.875em;
}

.menu .active {
    background-color: var(--main-color-dark);
    color: var(--light-text-color);
}

.menu a {
    background-color: var(--main-color);
    color: var(--light-text-color);
    text-decoration:none;
    display: block;
}

.menu a:hover {
    background-color: var(--main-color-light);
}
:root {
    --page-width: 900px;
    --content-spacing: 25px;
    --content-width: calc(var(--page-width) - 3 * var(--content-spacing));
    --left-width: calc(var(--content-width) * 0.65);
    --right-width: calc(var(--content-width) * 0.35);
    --menu-height: 50px;

    --page-background-color: #eeeeee;
    --content-background-color: #ffffff;

    --main-color: #398793;
    --main-color-dark: #196773;
    --main-color-light: #35b3bd;

    --light-text-color: #ffffff;
    --dark-text-color: #444444;
}
.header {
    height: 120px;
    padding: 120px 10px 0px;
    background-image: url(header_potsdam_1ea2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
}

.title {
    font-weight: normal;
    font-size: 1.25em;
    font-weight: bold;
    padding: 3px 6px 6px;
    width: 75%;
    margin: 0;
}

.title a {
    color: var(--light-text-color);
    text-decoration: none;
}

.title a:active {
    text-decoration: underline;
}

.title a:hover {
    text-decoration: underline;
}

.subtitle {
    font-size: 1em;
    color: var(--light-text-color);
    float: right;
    padding: 5px;
    margin-top: 5px;
}

.title,.subtitle {
    background: rgba(0, 0, 0, 0.5);
}
.side-teaser img {
    width: 100%;
}

.logo img {
    text-align: left;
    height: 75px;
}
.text {
    font-size: 0.75em;
    line-height: 170%;
    color: var(--dark-text-color);
}

.previous {
    margin-bottom: 0;
}
body {
    background-color: var(--page-background-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 0;
    width: var(--page-width);
    overflow-y: scroll;
}

.wrapper {
    float: left;
    width: var(--page-width);
    background-color: var(--content-background-color);
}

.left {
    float: left;
    width: var(--left-width);
    padding: var(--content-spacing);
    text-align: justify;
}

.right {
    float: right;
    width: var(--right-width);
    padding: var(--content-spacing);
    padding-left: 0;
}
