html(lang="en")
    head
        include partials/head
    body
        include partials/header
        include partials/menu
        .wrapper
            .left
                include partials/heading.pug
                block content
            .right
                include partials/sidebar.pug
