extends base

block content
    .text
        p
            | The VINCI symposium will have keynote lectures from highly valued members of the visualization community. We can announce the following keynote speakers and their topics of their talks.
    .heading
        img(alt="logo" height="25" width="25" src="icon/favicon_256.png")
        h2 Keynote Speech 1
    .text
        p
            | Prof. Dr. Alexandru C. Telea <br />
            | (Department of Information and Computing Sciences, Utrecht University) <br />
            | Topic: tba
        h3 Abstract
        p
            | tba
        h3 Biography
        p
            | tba
    .heading
        img(alt="logo" height="25" width="25" src="icon/favicon_256.png")
        h2 Keynote Speech 2
    .text
        p
            | tba <br />
            //-| (Department of Information and Computing Sciences, Utrecht University) <br />
            | Topic: tba
        h3 Abstract
        p
            | tba
        h3 Biography
        p
            | tba
