
section#footer.container

  .row.justify-content-center

    .col-6.col-md-5.col-lg-2
      p.mb-3.clearfix
        a(href = 'https://www.acm.org/publications/icps-series') #[img(src = require('img/acm_icps_v2b_alpha_sm.png')).logo]
      
      p.mb-5
        small Published by ACM International Conference Proceedings Series

    //-
      .col-6.col-md-5.col-lg-2
        p.mb-3.clearfix
          a(href = 'https://www.vsj.jp/') #[img(src = require('img/vsj-logo-unofficial.svg')).logo]
        p.mb-5
          small In cooperation with the Visualization Society of Japan.


    .col-6.col-md-5.col-lg-6
      p.mb-3.clearfix
        a(href = 'https://www.fhgr.ch/') #[img(src = require('img/fhgr-logo.svg')).logo]
        //- 
          small 
            | FH Graubünden
            br 
            | University of Applied Sciences
            br
            | Pulvermühlestrasse 57
            br
            | CH - 7000 Chur

      p.mb-5
        small Organized by the Competence Centre for Data Analysis, Visualisation and Simulation (DAViS). Contact us via 
          | email #[a(href = 'mailto:michael.burch@fhgr.ch') michael.burch@fhgr.ch] or 
          | phone #[a(href = 'tel:+41812863771') +41 81 286-3771].


footer.text-center
  small Copyright &copy; #{Math.min(conference.year, 2021)} #{conference.short}


script(src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity = 'sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin = 'anonymous')
