:root {
    --page-width: 900px;
    --content-spacing: 25px;
    --content-width: calc(var(--page-width) - 3 * var(--content-spacing));
    --left-width: calc(var(--content-width) * 0.65);
    --right-width: calc(var(--content-width) * 0.35);
    --menu-height: 50px;

    --page-background-color: #eee;
    --title-text-color: #ffffff;

    --menu-color: #398793;
    --menu-highlight-color: #196773;
    --menu-text-color: #ffffff;

    --content-background-color: #ffffff;
    --content-text-color: #444444;
    --heading-text-color: #ffa500;
}
