@import 'h.css';
@import 'menu.css';
@import 'defs.css';
@import 'header.css';
@import 'sidebar.css';
@import 'text.css';

body {
    background-color: var(--page-background-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 0;
    width: var(--page-width);
    overflow-y: scroll;
}

.wrapper {
    float: left;
    width: var(--page-width);
    background-color: var(--content-background-color);
}

.left {
    float: left;
    width: var(--left-width);
    padding: var(--content-spacing);
    text-align: justify;
}

.right {
    float: right;
    width: var(--right-width);
    padding: var(--content-spacing);
    padding-left: 0;
}
