@import 'h.css';
@import 'menu.css';
@import 'defs.css';
@import 'header.css';

body {
    background-color: var(--page-background-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding:0;
    width: var(--page-width);
}

.text {
    font-size: 12px;
    line-height: 170%;
    color: var(--content-text-color);
}

.wrapper {
    float: left;
    width: var(--page-width);
    background-color: var(--content-background-color);
}

.main {
    float: left;
    width: var(--left-width);
    padding: 30px;
    text-align: justify;
}

.previous {
    margin-bottom: 0;
}
