.header
    h1.title
        a(href="index.html")
            | The 14
            sup th
            |  International Symposium on Visual Information Communication and Interaction (VINCI 2020)
    .explain
        span.imgtext Potsdam, Germany, 6-8 Sep. 2021
