.header
    h1.title
        a(href="index.html")
            | The #{conf.number}
            sup #{conf.ordinal}
            |  #{conf.title} (#{conf.short})
    .explain
        span.imgtext Potsdam, Germany, 6-8 Sep. 2021
