h3 Previous #{conf.short}
p
    |#{conf.short} has been previously held in
ul.previous
    li Shanghai (VINCI 2008)
    li Sydney (VINCI 2009)
    li Beijing (VINCI 2010)
    li
        | Hong Kong (
        a(href="http://www.cse.ust.hk/vinci2011/") VINCI 2011
        | )
    li
        | Hangzhou (
        a(href="http://www.cad.zju.edu.cn/home/chenwei/VINCI2012/") VINCI 2012
        | )
    li
        | Tianjin (VINCI 2013)
    li
        | Sydney (
        a(href="http://vinci-conf.org/2014") VINCI 2014
        | )
    li
        | Tokyo (
        a(href="http://vinci-conf.org/2015") VINCI 2015
        | )
    li
        | Dallas (
        a(href="http://vinci-conf.org/2016") VINCI 2016
        | )
    li
        | Bangkok (
        a(href="http://vinci-conf.org/2017") VINCI 2017
        | )
    li
        | Växjö (
        a(href="http://vinci-conf.org/2018") VINCI 2018
        | )
    li
        | Shanghai (
        a(href="http://vinci-conf.org/2019") VINCI 2019
        | )
    li
        | Eindhoven (
        a(href="http://vinci-conf.org/2020") VINCI 2020
        | )
