.side
    .text
        .side-teaser
            img(src="photo/neues_palais.jpg", alt="Neues Palais Potsdam")
        p
            strong Hasso Plattner Institute
            br
            | University of Potsdam
            br
            a(href="https://hpi.de/") HPI
        p
            strong Contact
            br
            a(href="https://hpi3d.de/") Computer Graphical Systems
            br
            | Hasso-Plattner-Institut
            br
            | Prof.-Dr.-Helmert-Straße 2-3
            br
            | 14482 Potsdam, Germany
            br
            | Email: info2021@vinci-conf.org
        p
            strong Proceedings published by ACM:
            br
        .logo
            img(src="logo/icps.svg").logo
        p
            strong In cooperation with:
            br
            a(href="https://www.vsj.jp/") The Visualization Society of Japan
        p
            strong Sponsored by:
            br
        .logo
            img(src="logo/hpi.svg")
