extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-conf

        +h2('Organizing Committee')
        
        dl.row

          dt.col-sm-2.text-end General Chair
          dd.col-sm-9
            ul 
              li Matthias Trapp 
                br
                small Hasso Plattner Institute, University of Potsdam, Germany
              li Daniel Limberger 
                br
                small Hasso Plattner Institute, University of Potsdam, Germany


          dt.col-sm-2.text-end Program Chair
          dd.col-sm-9
            ul 
              li Karsten Klein
                br
                small University of Konstanz, Germany
              li Michael Burch
                br
                small University of Applied Sciences of the Grisons, Chur, Switzerland


          dt.col-sm-2.text-end Publication Chair
          dd.col-sm-9
            ul 
              li Willy Scheibel
                br
                small Hasso Plattner Institute, University of Potsdam, Germany


          dt.col-sm-2.text-end Web Chair
          dd.col-sm-9
            ul 
              li Lukas Wagner
                br
                small Hasso Plattner Institute, University of Potsdam, Germany

    .row.justify-content-center
      .col-conf
        
        +h2('Program  Committee')
        p More information will follow in the coming days and weeks.
