extends partials/site

block content

  section.container  

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')
        
        dl.conf-chairs

          dt General Chairs
          dd
            | Matthias Trapp 
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]
            br.mb-2
            | Daniel Limberger 
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]

          dt Program Chairs
          dd
            | Karsten Klein
            br
            | #[small University of Konstanz, Germany]
            br.mb-2
            | Michael Burch
            br
            | #[small University of Applied Sciences of the Grisons, Chur, Switzerland]


          dt Publication Chairs
          dd
            | Willy Scheibel
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]


          dt Web Chair
          dd
            | Lukas Wagner
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program Committee')
        
        dl.conf-chairs

          dt IPC Members
          dd 
            | Aidong Lu            #[br] #[small UNC Charlotte ] #[br.mb-2]
            | Andreas Kerren       #[br] #[small Linnaeus University ] #[br.mb-2]
            | Ayush Kumar          #[br] #[small Stony Brook University ] #[br.mb-2]
            | Camilla Forsell      #[br] #[small Linköpings Universitet ] #[br.mb-2]
            | Daniel Limberger     #[br] #[small Hasso Plattner Institute ] #[br.mb-2]
            | Gennaro Costagliola  #[br] #[small Dipartimento di Informatica, Università di Salerno ] #[br.mb-2]
            | Gualtiero Volpe      #[br] #[small InfoMus-DIST-University of Genoa ] #[br.mb-2]
            | Guenter Wallner      #[br] #[small Johannes Kepler University Linz ] #[br.mb-2]
            | Helen Purchase       #[br] #[small University of Glasgow] #[br.mb-2]
            | Hongfeng Yu          #[br] #[small University of Nebraska-Lincoln ] #[br.mb-2]
            | Jianlong Zhou        #[br] #[small University of Technology, Sydney ] #[br.mb-2]
            | Kai Xu               #[br] #[small Middlesex University ] #[br.mb-2]
            | Kang Zhang           #[br] #[small The University of Texas at Dallas ] #[br.mb-2]
            | Margit Pohl          #[br] #[small Vienna University of Technology ] #[br.mb-2]
            | Maxime Cordeil       #[br] #[small ENAC/DTI-R&amp;D/IRIT ] #[br.mb-2]
            | Paolo Bottoni        #[br] #[small Sapienza University of Rome ] #[br.mb-2]
            | Paul Bourke          #[br] #[small University of Western Australia ] #[br.mb-2]
            | Peter Rodgers        #[br] #[small University of Kent ] #[br.mb-2]
            | Quang Vinh Nguyen    #[br] #[small Western Sydney University ] #[br.mb-2]
            | Shigeo Takahashi     #[br] #[small University of Aizu ] #[br.mb-2]
            | Steffen Frey         #[br] #[small University of Groningen ] #[br.mb-2]
            | Stephan Diehl        #[br] #[small University Trier ] #[br.mb-2]
            | Stephen Brooks       #[br] #[small Dalhousie University ] #[br.mb-2]
            | Takayuki Itoh        #[br] #[small Ochanomizu University ] #[br.mb-2]
            | Vittorio Fuccella    #[br] #[small Dipartimento di Informatica, Università di Salerno ] #[br.mb-2]
            | Ying Zhao            #[br] #[small Central South University ] #[br.mb-2]
