extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')
        
        dl.conf-chairs

          dt General Chair
          dd
            | Matthias Trapp 
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]
            br.mb-2
            | Daniel Limberger 
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]

          dt Program Chair
          dd
            | Karsten Klein
            br
            | #[small University of Konstanz, Germany]
            br.mb-2
            | Michael Burch
            br
            | #[small University of Applied Sciences of the Grisons, Chur, Switzerland]


          dt Publication Chair
          dd
            | Willy Scheibel
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]


          dt Web Chair
          dd
            | Lukas Wagner
            br
            | #[small Hasso Plattner Institute, University of Potsdam, Germany]


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program  Committee')
        p More information will follow in the coming days and weeks.
