extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Keynote Speech 1')

        h3 Prof. Dr. Alexandru C. Telea
        p
          | Department of Information and Computing Sciences, Utrecht University

        p More information will follow in the coming days and weeks.
        
        // p Abstract: More information will follow in the coming days and weeks.

        // p Short Biography: More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Keynote Speech 2')

        h3 Prof. Dr. Tamara Munzner
        p
          | Imager Graphics, Visualization and HCI Lab, Department of Computer Science, University of British Columbia

        p More information will follow in the coming days and weeks.
        
        // p Abstract: More information will follow in the coming days and weeks.

        // p Short Biography: More information will follow in the coming days and weeks.
