extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Keynote Speech 1')

        h3 Prof. Dr. Alexandru C. Telea
        p
          | Department of Information and Computing Sciences, Utrecht University

        h3 Visualizing the Black Box of Machine Learning: Challenges and Opportunities
        
        p
          | Machine learning (ML) has witnessed tremendous successes in the last decade in classification,
          | regression, and prediction tasks. However, many ML models are used, and sometimes even designed, as black boxes.
          | When such models do not operate properly, their creators do not often know what is the best way to improve them.
          | Moreover, even when operating successfully, users often require to understand how and why they take certain
          | decisions to gain trust therein. We present how information visualization and visual analytics help towards
          | explaining (and improving) ML models. These cover tasks such as understanding high-dimensional datasets; understanding
          | unit specialization during the training of deep learning models; exploring how training samples determine the shape of
          | classification decision boundaries; and helping users annotating samples in semi-supervised active learning scenarios. 

        h3 Biography

        p
          | Alexandru Telea is a Professor of Visual Data Analytics at the Department of Information and Computing Sciences,
          | Utrecht University. He holds a PhD from Eindhoven University and has been active in the visualization field for over 22 years.
          | He has been the program co-chair, general chair, or steering committee member of several conferences and workshops in
          | visualization, including EuroVis, VISSOFT, SoftVis, and EGPGV. His main research interests cover unifying information
          | visualization and scientific visualization, high-dimensional visualization, and visual analytics for machine learning.
          | He is the author of the textbook "Data Visualization: Principles and Practice" (CRC Press, 2014).


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Keynote Speech 2')

        h3 Prof. Dr. Tamara Munzner
        p
          | Department of Computer Science, University of British Columbia

        h3 #[emph Keynote title pending]
        
        p More information will follow in the coming days and weeks.
        
        h3 Biography

        p
          | Tamara Munzner is a Professor of Computer Science at the University of British Columbia.
          | She holds a PhD from Stanford and has been active in the visualization field for over 30 years.
          | Her longstanding engagement with the IEEE VGTC community includes service as InfoVis and EuroVis Papers Co-Chair, and chair of the VIS Restructuring Committee, the VIS Executive Committees, and the InfoVis Steering Committee.
          | She published the book "Visualization Analysis and Design" in 2014 as the first in the AK Peters Visualization Series (CRC Press), and continues as series editor.
          | She received the IEEE VGTC Visualization Technical Achievement Award in 2015.
