extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-conf

        +h2('Keynote Speech 1')

        h3 Prof. Dr. Alexandru C. Telea
        p 
          | Department of Information and Computing Sciences, Utrecht University

        h3 Abstract
        p More information will follow in the coming days and weeks.

        h3 Short Biography
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf
        
        +h2('Keynote Speech 2')

        h3 TBA
        p 
          | TBA

        h3 Abstract
        p More information will follow in the coming days and weeks.

        h3 Short Biography
        p More information will follow in the coming days and weeks.
