extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Registration')
        p 
          | The event is planned as a #[s hybrid] #[strong virtual-only] event. 
          | You can participate in all keynotes and technical sessions virtually both as participant and as a speaker.


        p #[strong Important Notes:]
          ul
            li Every accepted paper or poster must be covered by at least one author's registration to be included in the symposium proceedings.
            //- li Regular and student registration includes technical sessions, proceedings, lunches, and coffee breaks.
            //- li The social event is optional and not included by default (please check in the registration form). 
            //- li We can not provide on-site registration. Registrations after 08/31/21 can only register for virtual attendance.

        h3 Registration Form
        p 
          | For VINCI '21 registration, please refer to our #[a(href = 'https://hpi.de/en/the-hpi/registration/2021/vinci-tagung-2021/') registration form].
          | Since the event will be virtual-only, please do register for virtual attendance only &mdash; the registration form will be adjusted asap.



    .row.justify-content-center
      .col-custom.col-padding.conf-prices

        +h2('Registration Fees')

        .col-lg-10.col-11.mt-4
          table.table.table-sm.text-end.table-borderless.align-middle.table-hover
            thead
              tr.text-center.text-muted
                th(scope = 'col').border-end.border-dark
                th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark Regular
                th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark Student
            thead
              tr
                td.border-end.border-dark
                td.border.border-top-0.border-dark.pe-4 Non-ACM
                td.border.border-top-0.border-dark.pe-4 ACM
                td.border.border-top-0.border-dark.pe-4 Non-ACM
                td.border.border-top-0.border-dark.pe-4 ACM
            tbody
              tr.border-bottom.border-muted
                td(scope = 'row').border-end.border-dark.text-start #[s.text-muted Early Bird *]
                td.border-end.pe-4 #[s.text-muted 450 EUR]
                td.border-end.pe-4 #[s.text-muted 350 EUR]
                td(rowspan = '2').border-end.pe-4 #[s.text-muted 300 EUR]
                td(rowspan = '2').border-end.border-dark.pe-4 #[s.text-muted 250 EUR]
              tr.border-bottom.border-muted
                td(scope = 'row').border-end.border-dark.text-start #[s.text-muted Default]
                td.border-end.pe-4 #[s.text-muted 550 EUR]
                td.border-end.pe-4 #[s.text-muted 450 EUR]
              tr.border-bottom.border-muted
                td(scope = 'row').text-start #[s.text-muted Social Event **]
                td(colspan = '4').border.border-dark.pe-4 #[s.text-muted + 60 EUR]
              tr
                td(scope = 'row').border-end.border-dark.text-start Virtual Attendance
                td(colspan = '4').border.border-dark.pe-4 100 EUR
              tr
                td(scope = 'row')
                td(colspan = '4').border-0.text-start.text-muted
                  | #[s * Early bird deadline is #{conference.dates.registration}.]
                  | #[s ** The social event is optional.]
                  | #[div.text-danger Should you have already registered for an on-site attendance, do not worry;]
                  | #[div.text-danger We will get in contact with you soon and will of course make a refund. ]
                  | We apologize for all inconveniences.

            

