extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Registration')
        p 
          | The event is planned as a hybrid event. We invite you to visit Potsdam/Berlin and hope to see as many participants as possible on site. 
          | If you are unable to attend in person (e.g. due to SARS-CoV-2 restrictions or other reasons), you can participate in all keynotes and technical sessions virtually both as participant and as a speaker.
 
        p 
          | For VINCI '21 registration, please refer to our #[a(href = '#') registration form] &mdash; #[span.text-danger will be provided within the next days].

        p #[strong Important Notes:]
          ul
            li Every accepted paper must have one regular registration.
            li Regular and student registration includes technical sessions, proceedings, lunches, and coffee breaks.
            li The social event is optional and not included by default (please check in the registration form). 
            li We can not provide on-site registration. Registrations after 31/08/21 can register for virtual attendance.


    .row.justify-content-center
      .col-custom.col-padding.conf-prices

        +h2('Registration Fees')

        .col-lg-10.col-11.mt-4
          table.table.table-sm.text-end.table-borderless.align-middle.table-hover
            thead
              tr.text-center.text-muted
                th(scope = 'col').border-end.border-dark
                th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark Regular
                th(scope = 'col' colspan = '2').border.border-bottom-0.border-dark Student
            thead
              tr
                td.border-end.border-dark
                td.border.border-top-0.border-dark.pe-4 Non-ACM
                td.border.border-top-0.border-dark.pe-4 ACM
                td.border.border-top-0.border-dark.pe-4 Non-ACM
                td.border.border-top-0.border-dark.pe-4 ACM
            tbody
              tr.border-bottom.border-muted
                td(scope = 'row').border-end.border-dark.text-start Early Bird *
                td.border-end.pe-4 450 EUR
                td.border-end.pe-4 350 EUR
                td(rowspan = '2').border-end.pe-4 300 EUR
                td(rowspan = '2').border-end.border-dark.pe-4 250 EUR
              tr.border-bottom.border-muted
                td(scope = 'row').border-end.border-dark.text-start Default
                td.border-end.pe-4 550 EUR
                td.border-end.pe-4 450 EUR
              tr.border-bottom.border-muted
                td(scope = 'row').text-start Social Event **
                td(colspan = '4').border.border-dark.pe-4 + 60 EUR
              tr
                td(scope = 'row').border-end.border-dark.text-start Virtual Attendance
                td(colspan = '4').border.border-dark.pe-4 100 EUR
              tr
                td(scope = 'row')
                td(colspan = '4').border-0.text-start.text-muted
                  | * Early bird deadline is #{conference.dates.registration}.
                  | ** The social event is optional.

