extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-conf

        +h2('Hasso Plattner Institute')
        p The Hasso Plattner Institute (HPI) is unique in the German university landscape. Academically structured as the independent Faculty of Digital Engineering at the University of Potsdam, HPI unites excellent research and teaching with the advantages of a privately financed institute and a tuition-free study program.
        
        p HPI offers the innovation-oriented and practically-based studies in "IT-Systems Engineering" with a Bachelor’s and Master’s degree and master degrees in Digital Health, Data Engineering and Cybersecurity. In addition, HPI offers a supplemental study program in the innovation method of Design Thinking. 

        p
          figure.figure
            a(href = 'https://www.google.com/maps/@52.391877,13.1318504,257a,35y,357.61h,39.73t/data=!3m1!1e3')
              img(src = require('img/photos/gmaps-hpi-campus.jpg') alt = 'gmaps-hpi-campus').figure-img.img-fluid
            figcaption.figure-caption.text-end #[small Click on the image to visit google maps at +52.391877+13.1318504/ (HPI campus).]


    .row.justify-content-center
      .col-conf
  
        +h2('Transportation')
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf
        
        +h2('Accomodation')
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf   

        +h2('Attractions in Potsdam & Berlin')
        p More information will follow in the coming days and weeks.
        