extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-conf

        +h2('Workshop 1')
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf
        
        +h2('Workshop 2')
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf
        
        +h2('Workshop 3')
        p More information will follow in the coming days and weeks.


    .row.justify-content-center
      .col-conf
        
        +h2('Workshop 4')
        p More information will follow in the coming days and weeks.
