extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Workshops')
        p
          | Workshop for the VINCI 2021 can still be proposed. For more information see #[a(href="/submissions.html") Submissions] page.
          | More information will follow in the coming days and weeks.


  //  .row.justify-content-center
  //    .col-custom.col-padding

  //      +h2('Previous Workshops')
  //      
  //      ul.list
  //        li.list-item #[a(href="https://vinci-conf.org/2020/workshop.html") VINCI 2020]: Workshop on Visual Influence and Influential Visualizations (VIIV)
  //        li.list-item #[a(href="https://vinci-conf.org/2019/workshop.html") VINCI 2019]: Youth Academic Workshop on Smart Graphic Technology and Application
